body {
  font-weight: 200;
}

#background {
  font-size: 500px;
  color: rgba(211,211,211,0.25);
  position: fixed;
  z-index: -1;
}

#search-bar {
  position: relative;
  top: 200px;
  transition-property: top;
  transition-duration: 0.5s;
}

button {
  font-size: 20px;
}

#search-field {
  border: 1px solid gray;
  font-size: 50px;
  font-weight: 100;
  width: 100%;
  background: transparent;
}

#search-field:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

#results {
  padding: 5px 50px;
}

.articles {
  background-color: white;
  box-shadow: 2px 2px 5px gray;
}